html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centered{
    margin-top : 5%;
      margin-left : 45%;
  }
.chat{
    background: green;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 50px;
    z-index: 99;
    text-decoration: none;
    text-align:center;
    color: white;
    clear: both;
    font-size: 22px;
    
    line-height: 50px;
}
:root{
    --main-font:'pacifico',cursive;
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
.heading{
    font-size: 3rem;
    font-family: var(--main-font);
    color: purple;
    margin: 20px;
}
.card:hover{
    -webkit-box-shadow: 6px -7px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -7px 51px 0px rgba(0,0,0,0.75);
    box-shadow: 6px -7px 51px 0px rgba(0,0,0,0.75);
}
.coll:hover{
    -webkit-box-shadow: 6px -7px 51px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px -7px 51px 0px rgba(0,0,0,0.75);
box-shadow: 6px -7px 51px 0px rgba(0,0,0,0.75);
}
body{
    background-image: url('Images/home-page.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.coll{
    align-items: center;
    text-align: center;
    width: 375px;
    margin: 20px;
    height: auto;
    box-shadow: 5px 10px #D3D3D3	;
    justify-content: space-around;    
}
.card-deck{    
    margin-left: 40px;
    margin-right: 40px;    
    margin-top: 10px;     
}
.card-img-top{
    height: 220px;
}
.abc{
    display: flex;
    justify-content: space-around;
}
.counter-text{
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    color: purple;
}
.counter{
    font-size: 26px;
    font-weight: bolder;
    color: red;
}
.heading{
    /* margin-left: 40%; */
    font-size: 30px;
    color: blue;
    text-align: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}
.d-block{
    width: auto;
    height: 500px;
}
.body {
    margin: 0;
    padding: 0;
  }
.img-wrap{
    width: 100%;
}
.img-wrap img{
    width: 200px;
}
@media only screen and (max-width: 575px) {
    img-wrap {
      margin-left : 100px;
    }
  }


.heading{
font-size: 3rem;
font-family: var(--main-font);
color: purple;
margin: 20px;
}
html{
    scroll-behavior: smooth;
}
    .upbtn{
    background: blue;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    text-decoration: none;
    text-align:center;
    color: white;
    clear: both;
    font-size: 22px;
    
    line-height: 50px;
}
.centered{
  margin-top : 5%;
    margin-left : 45%;
}
.carousel-item{
    height: 20%;
} 
.carousel-item img{
    height: 20%;
}
.img-responsive {
           height:100%;
           width:100%;
        }
.card-image-top {
  width: 200px;
  height: 100px
}
.image-container
{
  width:250px;
  height:140px;
}
.main{
  width : 18rem;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
}
.colors{
    background-color: #BA55D3;
}
   
.cent{
    align-items: center;    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity:0.1;
    /* background: red; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }